body{
    background-color:#36453B;
}

h1, h2, h3, h4, h5, h6{
    color:#9796A1;
}

#left{
    float:left;
    width:20%;
}

#right{
    float:right;
    width:20%;
}

#center{
    width:80%;
}

img{
    height:90%;
    width:90%;
}

/*#596869, #59A96A, #9BDEAC */