body{
    background-color:#3A4E54;
}

p, h1, h2, h3, h4, h5, h6{
    color:#59A96A;
    font-size:150%;
}

#left{
    float:left;
    width:20%;
}

#center{
    width:80%;
}

img{
    height:90%;
    width:90%;
}

#man {
    position:absolute;
    bottom:2px;
    right:2px;
}
/*#596869, #59A96A, #9BDEAC */