{% extends "base.html" %}

{% block content %}
<div id="container">
<div id="left">
<img src="../static/img/sloth.jpg">
<h3>Current Health: {{health}}</h3>
<h3>Enemy Health: {{enmHealth}}</h3>
</div>
<div id="center">
<h1>{{action}}</h1>
<br>
<h2>{{story}}</h2>
<h3>{{instruction}}</h3>
<form action="/event" method="POST">
{% for p in tools %}
<button name="tool" type="submit" value={{p}}>{{p}}</button>
{% endfor %}
{% for p in items %}
<button name="item" type="submit" value={{p}}>{{p}}</button>
{% endfor %}
</form>
<form action="/inv" method="POST">
{% for p in itemInv %}
<button name="itemUsed" type="submit" value={{p}}>{{p}}</button>
{% endfor %}
</form>
<h4>Current Tool: {{ct}}</h4>
{% if opt %}
<form action="/newtool" method="POST">
<input type="submit" name="choice" value="Use tool">
<input type="submit" name="choice" value="Run away">
<input type="submit" name="choice" value="Use potion">
</form>
{% endif %}
<h4 id="result"></h4>
</div>
</div>
{% endblock %}
